<div class="companies">
  <nb-card>
    <nb-card-header>
      Companies
    </nb-card-header>
    <nb-card-body>
      <button nbButton (click)="open(dialog)" status="primary">Add company</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [data]="response" [edit]="true" [toast]="'Company'"
                     [src]="'companies'"></smart-table>

      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
</div>
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header>Add company</nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label>Name</label>
        <label>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="object.name">
        </label>
      </div>
      <div class="form-group">
        <label>Phone</label>
        <label>
          <input type="tel" class="form-control" placeholder="Phone" [(ngModel)]="object.phone">
        </label>
      </div>
      <div class="form-group">
        <label>Slug</label>
        <label>
          <input type="text" class="form-control" placeholder="Slug: coffeein/apetit" [(ngModel)]="object.slug">
        </label>
      </div>
      <div class="form-group">
        <label>Mail</label>
        <label>
          <input type="text" class="form-control" placeholder="Mail" [(ngModel)]="object.mail">
        </label>
      </div>
      <div class="form-group">
        <label>Coordinates</label>
        <textarea class="form-control" placeholder="Example: CompanyName, latitude, longitude"
                  [(ngModel)]="object.coordinates"></textarea>
      </div>
      <div class="form-group">
        <label>Instagram</label>
        <label>
          <input type="text" class="form-control" placeholder="Instagram" [(ngModel)]="object.instagram">
        </label>
      </div>
      <div class="form-group">
        <label>Facebook</label>
        <label>
          <input type="text" class="form-control" placeholder="Facebook" [(ngModel)]="object.facebook">
        </label>
      </div>
      <div class="form-group">
        <label>YouTube</label>
        <label>
          <input class="form-control" placeholder="Youtube" [(ngModel)]="object.youtube">
        </label>
      </div>
      <div class="form-group">
        <label>Is main company</label>
        <label class="checkbox-class">
          <div class="check">
            <input type="checkbox" (change)="mainCompany($event)" [(ngModel)]="object.isMainCompany" class="checkbox">
          </div>
        </label>
      </div>
      <div class="form-group" *ngFor="let item of object.slogan; let i = index">
        <label>Company Slogan {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Company Slogan {{item.shortName}}"
                 [(ngModel)]="item.content">
        </label>
      </div>
      <div class="form-group">
        <label>Company Color</label>
        <label>
          <input type="color" class="form-control" [(ngModel)]="object.color">
        </label>
      </div>
      <div class="form-group">
        <label>Company Logo</label>
        <label>
          <image-upload [uploadedFiles]="editLogo" (removed)="removeLogo()" [max]="1" [url]="imageUpload" [headers]="accessToken.headers2" (uploadFinished)="uploadFinished($event, true)"
          ></image-upload>
        </label>
      </div>
      <div class="form-group">
        <label>Main company product image</label>
        <image-upload [uploadedFiles]="editImage" (removed)="removeImage()" [max]="1" [url]="imageUpload" [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event, false)"></image-upload>
      </div>

      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>
    </nb-card-body>
    <nb-card-footer>
    </nb-card-footer>
  </nb-card>
</ng-template>





