<div class="orders">
  <nb-card>
    <nb-card-header>
      Order requests
    </nb-card-header>
    <smart-table [dialog]="dialog" [columnsName]="columns" [data]="response" [toast]="'Ordered'"
                 [src]="'order-request'"></smart-table>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header><h1>Order details</h1></nb-card-header>
    <nb-card-body>
      <div class="order-group">
        <div class="item">Creation date</div>
        <div class="content">
          {{object.createdAt | date: 'medium'}}
        </div>
      </div>
      <div class="order-group">
        <div class="item">Address</div>
        <div class="content">
          {{object.address}}
        </div>
      </div>
      <div class="order-group">
        <div class="item">Phone</div>
        <div class="content">
          {{object.phone}}
        </div>
      </div>
      <div class="order-group">
        <div class="item">Full name</div>
        <div class="content">
          {{object.fullName}}
        </div>
      </div>
      <div class="order-group">
        <div class="item">Price</div>
        <div class="content">
          {{object.totalPrice}}
        </div>
      </div>
      <div class="order-group">
        <div class="item">Products</div>
        <div class="order-products" *ngFor="let item of object.products">
          <div class="content-products">
            <div class="image">
              <img *ngIf="item.image.path !== null" [src]="'http://localhost:3000/api/' + item.image.path">
              <img *ngIf="item.image.path === null" src="https://coffeein.md/assets/img/images/no-image.png">
            </div>
            <div class="name">
              {{item.title[lg].content}}
            </div>
            <div class="price">
              Price: {{item.cookiePrice}}
            </div>
            <div class="quantity">
              Quantity: {{item.cartCount}}
            </div>
          </div>

        </div>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
</ng-template>
