.orders {
  padding: 2.25rem 2.25rem .75rem;
}

.item {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  opacity: .6;
}

.dialog {
  width: 90vw;
  max-width: 600px;
  overflow: scroll;
  height: 80vh;
}

.content-products {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 15px;
  justify-content: space-between;
}

.image {
  width: 20%;

  img {
    width: 100%;
  }
}
