<div class="create-slide">
  <nb-card>
    <nb-card-header>
      Slider items
    </nb-card-header>
    <nb-card-body>
      <button nbButton (click)="open(dialog)" status="primary">Add slide</button>

      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [edit]="true" [data]="response" [src]="'slider-info'"
                     [toast]="'Slide'"></smart-table>

      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header>Add slide</nb-card-header>
    <nb-card-body>
      <div class="form-group" *ngFor="let item of object.title; let i = index">
        <label>Title {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Title {{item.shortName}}" [(ngModel)]="item.content">
        </label>
      </div>
      <div class="form-group" *ngFor="let item of object.description; let i = index">
        <label>Description {{item.shortName}}</label>
          <app-quill-component [placeholder]="'Description ' +  item.shortName" [(ngModel)]="item.content"></app-quill-component>

      </div>
      <div class="form-group" *ngFor="let item of object.promoProductInfo; let i = index">
        <label>Promo product info {{item.shortName}}</label>
        <app-quill-component [placeholder]="'Promo product info ' +  item.shortName" [(ngModel)]="item.content"></app-quill-component>

      </div>

      <div class="form-group" style="display: grid;">
        <label>Product company</label>
        <nb-select placeholder="Select product company" [selected]="selectCompany" (selectedChange)="setProductCompany($event)">
          <nb-option *ngFor="let item of companies" [value]="item.name">
            {{item.name}}
          </nb-option>
        </nb-select>
      </div>
      <div class="form-group">
        <label>Slide image</label>
        <image-upload [uploadedFiles]="editImage" (removed)="removeImage()" [max]="1" [url]="imageUpload" [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event)"></image-upload>
      </div>

      <button nbButton status="primary"
              (click)="onSubmit(); ref.close()"
              class="button">
        Submit
      </button>
      <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
</ng-template>



