.companies-page {
  .coffein-buttons {
    width: 100%;
  }

  .navbar {
    flex-wrap: nowrap;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;

    }
  }

  .end-navbar {
    display: flex;
    align-items: center;

    .contact {
      a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        padding: 0 30px;
      }
    }

    //noinspection CssInvalidPseudoSelector
    ::ng-deep {
      @media (min-width: 991px) {

        nb-select {
          .select-button {
            min-width: auto;
          }

          button {

            width: 100px;
            font-size: 24px;
            color: #c3c2c2;
            background: #303030;
            border-radius: 7px;
            border: none;
            filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));

            &:hover {
              background-color: #303030;
            }
          }

        }
      }
      @media (max-width: 991px) {

        nb-select {
          .select-button {
            min-width: auto;
          }

          button {

            width: 60px;
            font-size: 12px;
            color: #c3c2c2;
            background: #303030;
            border-radius: 7px;
            padding: 2px 10px;
            border: none;
            filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));

            &:hover {
              background-color: #303030;
            }
          }

        }
      }


    }

    .navbar-cart {
      position: relative;
      padding-left: 30px;

      img {
        width: 25px;
        height: 25px;
      }

      sup {
        position: absolute;
        right: -15px;
        top: -12px;
        background: #106e18;
        padding: 7px;
        font-size: 11px;
        line-height: 14px;
        color: #fff;
        width: 27px;
        height: 27px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .companies-content {
    padding-top: 60px;


  }

  .companies {
    width: 100%;

    .coffeein {
      padding-left: 15px;
      padding-right: 15px;

      .company-image-large {
        padding-left: 50px;

        img {
          z-index: 100;
          filter: drop-shadow(0 16px 30px #000000);
        }
      }

      .coffeein-data {

        .large-display-slogan {
          p {
            font-size: 34px;
            line-height: normal;
            color: #c4c2c2;
            padding-bottom: 50px;
          }
        }

        .command-fast {
          display: flex;
          border-radius: 12px;
          text-align: center;
          padding: 11px 10px;
          filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
          align-items: center;
          justify-content: center;
          border: 2px solid #c3c2c2;

          p {
            color: #c3c2c2;
            margin-bottom: 0;
          }

          img {
            padding-right: 10px;
          }
        }

        .button-company {

          button {
            border: none;
            justify-content: center;
            align-items: center;
            color: #f2f2f2;
            width: 100%;
            border-radius: 12px;
            padding: 15px 0;
            filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
            font-size: 20px;
          }
        }

        .contacts {
          display: flex;


        }
      }
    }

    .apetit {
      padding-left: 15px;
      padding-right: 15px;

      .company-image-apetit {

        img {
          z-index: 100;
          filter: drop-shadow(0 16px 30px #000000);
        }
      }

      .apetit-content {
        width: 100%;
        margin-top: auto;


        .button-company-apetit {

          button {
            display: flex;
            width: 100%;
            border: none;
            justify-content: center;
            align-items: center;
            color: #f2f2f2;
            border-radius: 12px;
            padding: 15px 0;
            filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
            font-size: 20px;
          }
        }

      }
    }
  }
}

//noinspection ALL
::ng-deep {

  .nb-theme-default {
    a {
      text-decoration: none;
    }
  }
}

@media (min-width: 991px) {
  .contacts-apetit {

    display: flex;
    margin: 30px 0 0;
    width: 100%;
    justify-content: flex-end;

    .facebook, .instagram {
      margin-right: 20px;
    }
  }
  .contacts-small-display {
    display: none;
  }
  .company-image-apetit {
    margin-block: auto;
    padding-left: 50px;
    transform: translateY(-30px);

    img {
      width: 15vw;

    }
  }
  .apetit {
    width: 50%;

  }
  .slogan-apetit {
    display: none;
  }
  .command-fast-apetit {
    display: none;
  }
  .contacts {
    margin: 30px 0 0;
    width: 100%;

    .facebook, .instagram {
      margin-right: 20px;
    }
  }

  .command-fast {
    margin-bottom: 40px;


    p {
      font-size: 20px;
    }
  }

  .company-image-medium {
    padding-left: 50px;
  }
  .company-image-medium, .company-image-large {

    img {
      width: 15vw;

    }
  }
  .companies-page {
    padding: 80px 80px 80px;

  }
  .navbar {
    padding: 0;

    .logo {

      img {

        padding-right: 50px;
      }
    }
  }
  .companies-page {
    background: #1a1a1a;
    border-radius: 30px;
    height: auto;
    background-image: url("../../../assets/bg1.png");
    background-size:  102%;
    background-repeat: no-repeat;
    filter: drop-shadow(0 30px 10px #000000);

  }

  .contacts {
    display: block;
  }

  .small-display-slogan {

    display: none;
  }
  .companies {
    display: flex;

    .coffeein {
      width: 50%;
    }
  }

}

@media (min-width: 1400px) {


  .coffeein {

    display: flex;

    .command-fast {
      width: 100%;

    }

    .button-company {

      button {
        width: 100%;

      }
    }
  }

  .apetit {
    display: flex;
    align-items: flex-end;

    .button-company-apetit {

      button {
        width: 100%;

      }
    }
  }
  .medium-display-slogan {
    display: none;
  }

  .company-image-medium {
    display: none;
  }
}

@media (max-width: 1400px) and (min-width: 991px) {

  .coffeein {

    display: grid;

    .company-image-medium {
      margin-left: auto;
      margin-bottom: 20px;

      img {
        filter: drop-shadow(0 16px 30px #000000);
      }
    }

    .command-fast {
      max-width: 270px;
      margin-left: auto;
      margin-right: auto;

    }

    .button-company {

      max-width: 270px;
      margin: auto auto 0;
    }
  }

  .apetit {
    display: grid;

    .button-company-apetit {

      button {
        max-width: 270px;
        margin: auto auto 0;
      }
    }
  }

  .large-display-slogan {
    display: none;
  }

  .medium-display-slogan {
    display: block;

    p {
      font-size: 34px;
      color: #c4c2c2;
      padding-bottom: 50px;
      min-height: 160px;
    }
  }
  .company-image-medium {
    display: block;
  }
  .company-image-large {
    display: none;
  }

}


@media (max-width: 991px) {
  .companies-page {
    padding: 80px 140px 0;

    .companies-content {
      margin-top: 20px;
      padding-top: 15px;
    }
  }
  .navbar {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 5px;
    background-image: url(https://coffeein.md/home-mob-1.d17a984e35c0ef98efa6.png);
    background-size: 30% 140%;
    background-repeat: no-repeat;
    background-position: 107% -29px;
    flex-flow: wrap;
    filter: drop-shadow(0 30px 10px #000000);


    .navbar-logo {
      width: 70%;

      img {
        width: 61%;
        padding-right: 0;
      }
    }

    .contact {
      display: none;
    }
  }
  .large-display-slogan {
    display: none;
  }
  .medium-display-slogan {
    display: none;
  }
  .small-display-slogan {
    display: block;

    p {
      font-size: 22px;
      line-height: 24px;
      color: #c3c2c2;
      max-width: 60vw;
      padding: 0;
      margin-bottom: 50px;
    }
  }
  .company-image-large {
    display: none;
  }

  .companies {
    display: grid;
  }

  .coffeein {
    width: 100%;
    background-image: url(https://coffeein.md/home-mob-2.aa5e6fdcfa2049173443.png);
    background-position: -6px -5px;
    background-repeat: no-repeat;
    background-size: 103% 130%;
    margin-bottom: 40px;
    padding: 30px 15px;
    filter: drop-shadow(0 30px 10px #000000);
    border-radius: 5px;


    .button-company {
      margin: auto;
      max-width: 270px;

      button {
        margin-top: 15px;

      }
    }

  }

  .company-image-medium {
    display: flex;
    justify-content: center;

    img {
      max-width: 80%;
      margin-bottom: 30px;
      max-height: 380px;
      width: auto;
      filter: drop-shadow(0 16px 30px #000000);
    }
  }

  .command-fast {
    max-width: 270px;
    margin: auto;

    img {
      width: 27px;
    }

    p {
      font-size: 16px;
    }
  }

  .coffeein-data {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;


    .contacts {
      width: auto;

      .facebook, .instagram {
        margin-right: 0;
      }

      img {
        margin-left: 10px;
        width: 25px;
        height: 25px;
      }
    }
  }
  .command-fast-apetit {
    display: flex;
    border-radius: 12px;
    text-align: center;
    padding: 11px 10px;
    filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
    align-items: center;
    justify-content: center;
    border: 2px solid #c3c2c2;

    p {
      color: #c3c2c2;
      font-size: 16px;
      margin-bottom: 0;
    }

    img {
      width: 27px;
      padding-right: 10px;
    }
  }

  .slogan-apetit {
    display: flex;
    justify-content: flex-end;

    p {
      font-size: 22px;
      line-height: 24px;
      color: #c3c2c2;
      max-width: 60vw;
      padding: 0;
      margin-bottom: 50px;
    }
  }

  .apetit {
    width: 100%;
    background-image: url(https://coffeein.md/home-mob-3.03b68c9d176a87c3546f.png);
    filter: drop-shadow(0 30px 10px #000000);
    background-repeat: no-repeat;
    background-size: 100% 150%;
    margin-bottom: 40px;
    padding: 30px 15px;
    border-radius: 5px;


  }
  .company-image-apetit {
    display: flex;
    justify-content: center;

    img {
      max-width: 80%;
      margin-bottom: 30px;
      max-height: 380px;
      width: auto;
      filter: drop-shadow(0 16px 30px #000000);
    }
  }
  .contacts-small-display {
    display: flex;

    img {
      margin-right: 10px;
      width: 25px;
      height: 25px;
    }

  }
  .contacts-apetit {
    display: none;
  }

  .apetit-data {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .apetit-buttons {
    max-width: 270px;
    width: 100%;
  }
  .button-company-apetit {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .companies-page {
    padding: 30px 16px 0;

  }
}


