.send-popup {

  background: #5ea865;
  filter: drop-shadow(4px 8px 15px rgba(0, 0, 0, .5));
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 30px;
  width: 100%;
  text-align: center;
  margin: 80px auto;
  cursor: pointer;
  height: 60px;

  p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 28px;
  }
}

nb-card {
  height: auto;
  width: 80vw;
  padding: 26px;
  background: #303030;
  box-shadow: 10px 15px 50px rgb(0 0 0 / 25%);
  border-radius: 12px;
  border: none;
  max-width: 870px;
  margin: 10px auto auto;


  .popup-title {

    text-align: center;
    margin-bottom: 40px;

    p {
      color: #e5e5e5;
      margin-bottom: 0;
      line-height: 30px;
    }
  }

  .close-popup {
    position: absolute;
    top: 26px;
    right: 26px;
    cursor: pointer;

  }
}


.personal-contacts {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 16px;

  p {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #e5e5e5;
    margin-bottom: 0;
  }

  span {

    color: #e05454;
    font-size: 14px;
    margin-left: 10px;
  }


  .phone-input {
    position: relative;


    .country-phone {
      display: flex;
      align-items: center;
      position: absolute;
      z-index: 1003030939;
      left: 10px;
      color: #e4e9f2;
    }

    input {
      max-width: 400px;

      font-size: 18px;
      margin-top: 10px;
      filter: drop-shadow(4px 8px 15px rgba(0, 0, 0, .5));
      background: #303030;
      color: #bfbfbf;

      &::placeholder {
        color: #495057;
        font-weight: normal;
      }
    }
  }


  .name-input {

    input {
      max-width: 400px;
      margin-top: 10px;
      font-size: 18px;
      filter: drop-shadow(4px 8px 15px rgba(0, 0, 0, .5));
      background: #303030;
      color: #bfbfbf;

      &::placeholder {
        color: #495057;
      }
    }
  }
}


.totalPrice {
  display: flex;
  justify-content: flex-end;

  p {
    font-size: 24px;
    color: #e5e5e5;
  }
}


.map {

  margin: 20px auto;
  max-width: 600px;

}

.finish-order {
  display: flex;
  background: #5ea865;
  box-shadow: 0 4px 7px rgb(0 0 0 / 25%);
  border-radius: 12px;
  padding: 15px;
  border: none;
  width: 100%;
  min-height: 58px;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  p {
    color: #e5e5e5;
    margin-bottom: 0;
    font-size: 22px;
  }
}

//noinspection ALL
::ng-deep {


  .nb-theme-default nb-checkbox .text:not(:empty) {
    color: #eae9e9;
    font-size: 14px;

  }

  nb-layout-column {
    height: 80vw;
  }
}

.footer-popup {
  width: 600px;
}

@media (min-width: 767px) {
  .popup-title {

    p {
      font-size: 24px;

    }
  }
  .send-popup {
    max-width: 60%;

  }
}

@media (max-width: 767px) {
  .popup-title {

    p {
      font-size: 16px;
    }
  }
  .send-popup {
    max-width: 90%;
  }
}

@media (max-width: 425px) {
  .popup-title {

    p {
      margin-bottom: 12px;
      text-align: left;
      width: 80%;
    }
  }
}

@media (min-width: 1100px) {
  nb-card {
    position: relative;
  }
  .country-phone {
    top: 26px;


  }

  .phone-input {
    input {
      padding-left: 84px;

    }
  }
  .personal-contacts, .name-input {


    input {
      width: 400px;
      border-radius: 12px;
      height: 60px;

      &::placeholder {
        font-size: 18px;

      }
    }
  }
}

@media (max-width: 1100px) {
  .country-phone {
    top: 21px;

    img {
      width: 20px;
      height: 20px;
    }


  }

  .phone-input {
    input {
      padding-left: 70px;
    }
  }
  .personal-contacts, .name-input {
    p {
      font-size: 15px;
    }

    input {
      width: 100%;
      border-radius: 5px;
      height: 40px;

      &::placeholder {
        font-size: 15px;

      }

    }
  }
  nb-card {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

