.product-popup {
  cursor: pointer;
  position: fixed;
  z-index: 38382222222222738;
  bottom: 80px;
  right: 30px;

  .popup-content {

    width: auto;
    height: auto;
    padding: 10px 15px;
    border-radius: 12px;

    .finish-command, .total, .price {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 35px;
      color: #fff;
    }

    .total-price {
      display: flex;
    }
  }

  .nr-products {

    position: absolute;
    top: -26px;
    right: -5px;
    font-family: 'Mulish', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: center;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
