<div class="principal-slider">
  <div class="slider-background">
    <div class="slider">
      <ngx-slick-carousel class="carousel"
                          #slickModal="slick-carousel"
                          [config]="slideConfig"
                          (breakpoint)="breakpoint($event)">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <div class="slick-content">
            <div class="slick-promotion">
              <div class="promotion-title">
                <p>{{slide.title[lg].content}}</p>
              </div>
              <div class="promotion-description">
                <p [innerHTML]="slide.description[lg].content" ></p>
              </div>
            </div>
            <div class="slick-image">
              <img src="{{slide.image.path | imageUrl}}">
              <div class="slick-description" [innerHTML]="
                slide.promoProductInfo[lg].content" >
              </div>
            </div>



          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
