<div class="create-product">
  <nb-card>
    <nb-card-header>
      Products
    </nb-card-header>
    <nb-card-body>
      <button nbButton status="primary" (click)="open(dialog)">Add product</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [edit]="true" [data]="response" [toast]="'Product'"
                     [src]="'products'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header>Add product</nb-card-header>
    <nb-card-body>
      <div class="form-group" *ngFor="let item of object.title">
        <label>Name {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Name {{item.shortName}}"
                 [(ngModel)]="item.content">
        </label>
      </div>

      <div class="form-group" *ngFor="let item of object.description">
        <label>Description {{item.shortName}}</label>
        <label>
          <app-quill-component [placeholder]="'Description ' +  item.shortName" [(ngModel)]="item.content"></app-quill-component>

        </label>
      </div>

      <div class="form-group" *ngFor="let item of object.mainDescription">
        <label>Main description {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Main description {{item.shortName}}"
                 [(ngModel)]="item.content">
        </label>
      </div>

      <div class="form-group">
        <label>Slug</label>
        <label>
          <input type="text" class="form-control" placeholder="Slug " [(ngModel)]="object.slug">
        </label>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" [(ngModel)]="object.price" placeholder="Price"/>
      </div>

      <div class="form-group" style="display: grid;">
        <label>Product category</label>
        <nb-select placeholder="Select product category" [selected]="selectCategory" (selectedChange)="setCategory($event)">
          <nb-option *ngFor="let item of categories" [value]="item.name[0].content">
            {{item.name[0].content}}
          </nb-option>
        </nb-select>
      </div>
      <div class="form-group" style="display: grid;">
        <label>Product company</label>
        <nb-select placeholder="Select product company" [selected]="selectCompany" (selectedChange)="setProductCompany($event)">
          <nb-option *ngFor="let item of companies" [value]="item.name">
            {{item.name}}
          </nb-option>
        </nb-select>
      </div>

      <div class="form-group">
        <label>Product image</label>
        <image-upload [uploadedFiles]="editImage" (removed)="removeImage()" [max]="1" [url]="imageUpload" [headers]="accessToken.headers2"  (uploadFinished)="uploadFinished($event)"></image-upload>
      </div>


      <div class="form-group">
        <label>Order</label>
        <label>
          <input type="number" class="form-control" placeholder="Order" [(ngModel)]="object.order">
        </label>
      </div>
      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
  </nb-card>
</ng-template>
