.principal-page {
  background-color: #303030;

}

@media (min-width: 992px) {
  .principal-page {
    padding: 40px 80px 80px;

  }
}

//noinspection ALL
::ng-deep{
  .nb-theme-default p{
    color: #edf1f7;
  }
}

